<html ng-app = "betsApp">
	<head>
	</head>
</html>
<body ng-Controller = "BetsController">
	<div class="container">
	<h1>Willkomen, <%= req.session.user.username %></h1>
		<div id="matchesDiv">
			<div id="choseDayDiv">
				Spieltag w&auml;hlen:
				<select ng-model="matchdaySelector" ng-options="(day.value + '. Spieltag') for day in matchdays"
				ng-change="printSelectedMatchday()" id="matchday-selector"></select>
				<button class="btn btn-primary" ng-click="updateBets()">
					Abschicken
				</button>
			</div>
			<div id="successAlert" class="alert alert-success alert-dismissable">
				<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">
					&times;
				</button>
				Ergebnisse eingetragen.
			</div>
			<div id="failAlert" class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">
					&times;
				</button>
				Fehler beim Eintragen der Ergebnisse.
			</div>
			<div id="resultsTable">
				<table class="table table-striped table-hover">
					<thead>
						<th>Heim</th>
						<th>Gast</th>
						<th align="center">Tore Heim</th>
						<th></th>
						<th align="center">Tore Gast</th>
					</thead>
					<tr ng-repeat="match in matches">
						<td>{{match.teamhome}}</td>
						<td>{{match.teamguest}}</td>
						<td>
						<input type="text" class="text-center" ng-model="match.goalshome"/>
						</td>
						<td align="center">:</td>
						<td>
						<input type="text" class="text-center" ng-model="match.goalsguest"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>