
<div class="panel panel-default" id="timelineCollapsible">
	<div class="panel-heading" role="tab" id="headingFour">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" href="#collapseFour"
				aria-expanded="false" aria-controls="collapseFour"> Timeline </a>
		</h4>
	</div>
	<div id="collapseFour" class="panel-collapse collapse in"
		role="tabpanel" aria-labelledby="headingFour">
		<div class="panel-body" id="userTimeline">
			<svg class="chart" id="timeline"></svg>
		</div>
	</div>
</div>