<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<body ng-app="mainPageApp">
	<div class="container" ng-controller="MainPageController">
		<div ng-if="!loggedIn">
			<h2><span class="label label-warning">Nicht eingeloggt!</span></h2>
			<form class="form-inline" id="login-form">
				<div class="form-group">
					<label for="loginName">Name</label>
					<input type="text" id="loginName" placeholder="name" class="form-control" />
				</div>
				<div class="form-group">
					<label for="loginPassword">Password</label>
					<input type="password" id="loginPassword" placeholder="password" class="form-control" />
				</div>
				<button type="submit" class="btn btn-primary" ng-click="login()">
					Login
				</button>
			</form>
		</div>
		<div id="userRanking">
			<table class="table table-striped table-hover">
				<thead>
					<th>User</th>
					<th class="text-center">Correct</th>
					<th class="text-center">Difference</th>
					<th class="text-center">Tendency</th>
					<th class="text-center">Total Points</th>
				</thead>
				<tr ng-repeat="item in users | orderBy:'-correct'">
					<td>{{item.username}}</td>
					<td class="text-center">{{item.nCorrect}}</td>
					<td class="text-center">{{item.nDiff}}</td>
					<td class="text-center">{{item.nTrend}}</td>
					<td class="text-center">{{getSum(item)}}</td>
				</tr>
			</table>
		</div>
		<svg class="chart" id="timeline">
		  
		</svg>
	</div>
</body>