<body>
	<div class="container">
		<h1>Tippspiel Anmeldung</h1>
		<div>
			<h3><span class="label label-default"> Signup </span></h3>
			<form class="form-inline" id="signup-form">
				<div class="form-group">
					<label for="signupName">Name</label>
					<input type="text" id="signupName" placeholder="name" />
				</div>
				<div class="form-group">
					<label for="signupPassword">Password</label>
					<input type="password" id="signupPassword" placeholder="password" />
				</div>
				<div class="form-group">
					<label for="signupConfirmPassword">Repeat Password</label>
					<input type="password" id="signupConfirmPassword" placeholder="confirm password" />
				</div>
				<button type="submit" class="btn btn-primary" id="signupButton">
					Signup
				</button>
			</form>
		</div>
	</div>
	<script>
			$("#signupButton").click(function() {
			var username = $("#signupName"
				).val();
				var password = $("#signupPassword").val();
				var confirmPassword = $("#signupConfirmPassword").val();
				if (username && password) {
					if (password === confirmPassword) {
						$.post('/signup', {
							username : username,
							password : password
						}, function() {
							window.location = "/bets";
						}).fail(function(res) {
							alert("Error alert: " + res.getResponseHeader("error"));
						});
					} else {
						alert("Passwords don't match");
					}
				} else {
					alert("A username and password is required");
				}
				});
	</script>
	</body>